.calculator-button {
  padding: 20px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  background-color: #ff8a8a;
  color: #000; 
  border-radius: 5px;
  transition: background-color 0.3s;
}

.calculator-button:hover {
  background-color: #d35656;
}

.calculator-button:active {
  background-color: #ff9f9f;
}