.display {
  background: #222;
  color: #fff;
  padding: 20px;
  font-size: 32px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: right;
  height: 100px;
}
.input {
  font-size: 22px;
  color: #e0e0e0;
  overflow-x: auto;
  white-space: nowrap; 
}
.result {
  font-size: 26px;
  color: #fff;
  overflow-x: auto;
  white-space: nowrap; 
}
.input::-webkit-scrollbar {
  height: 12px;
}
.input::-webkit-scrollbar-track {
  background: #fff; 
  border-radius: 10px; 
}
.input::-webkit-scrollbar-thumb {
  background: #bfbfbf; 
  border-radius: 10px; 
}
.input::-webkit-scrollbar-thumb:hover {
  background: #858585; 
}
.result::-webkit-scrollbar {
  height: 12px;
}
.result::-webkit-scrollbar-track {
  background: #fff; 
  border-radius: 10px; 
}
.result::-webkit-scrollbar-thumb {
  background: #bfbfbf; 
  border-radius: 10px; 
}
.result::-webkit-scrollbar-thumb:hover {
  background: #858585; 
}