.display {
  background: #222;
  color: #fff;
  padding: 20px;
  font-size: 32px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: right;
  height: 100px;
}
.input {
  font-size: 24px;
  color: #ffffff;
  overflow-x: auto;
  white-space: nowrap; 
  padding-bottom: 35px;
}
.result {
  font-size: 30px;
  color: #ffb4b4;
  overflow-x: auto;
  white-space: nowrap; 
}
.input::-webkit-scrollbar {
  height: 0px;
}
.input::-webkit-scrollbar-track {
  background: #fff; 
  border-radius: 10px; 
}
.input::-webkit-scrollbar-thumb {
  background: #ff8a8a; 
  border-radius: 10px; 
}
.input::-webkit-scrollbar-thumb:hover {
  background: #d35656; 
}
.result::-webkit-scrollbar {
  height: 0px;
}
.result::-webkit-scrollbar-track {
  background: #fff; 
  border-radius: 10px; 
}
.result::-webkit-scrollbar-thumb {
  background: #ff8a8a; 
  border-radius: 10px; 
}
.result::-webkit-scrollbar-thumb:hover {
  background: #d35656; 
}